<div class="section">
  <h2>Slowest queries</h2>
  <h4>in the last 24 hours</h4>

  <br />
  <table class="data_table">
    <thead>
      <tr>
        <th width="80%">Query</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @slowest_queries.each do |query| %>
        <tr>
          <td><%= query.statement %></td>
          <td><%= query.execution_time %>s</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>