<!DOCTYPE html>
<html>
  <head>
    <title>Poke</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/core.css" />
  </head>
  <body>
    <div id="header">
      <div class="banner">
        <h1>poke</h1>
      </div>

      <div class="menu">
        <ul class="inline">
          <li><a href="/queries">Queries</a></li>
          <li><a href="/reports">Reports</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </div>
    </div>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>