<html>
  <head>
    <title>Poke</title>
  </head>
  <body>
    <div id="header">
      <div class="banner">
        <h1>poke</h1>
      </div>

      <div class="menu">
        <ul class="inline">
          <li><a href="/queries">Queries</a></li>
          <li><a href="/reports">Reports</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>